@theme "catppuccin-mocha"

configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: ["Papirus", "Adwaita"];
    display-drun: "  Apps";
    display-run: "  Run";
    display-window: "  Window";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    sidebar-mode: false;
    dpi: 0;
}


